.botonmodalsucess{
    background: #97BD13 0% 0% no-repeat padding-box;
}

.containertogle{
    display: flex;
    justify-content: space-between;
}

.botontogledash{
    padding: 0 20px 0 10px;
}


.noactive{
    display:none;
}

.listasidebar{
    display: flex;
    flex-direction: column;
}
.contentnavline{
    display: flex;
    justify-content: center;
    max-height: 20px !important;
    height: 20px;
}
.contentnavline::before{
    content: " ";
    border: 1px solid #5555;

}
.contenlist::before{
    content: '';
   width: 6px;
   height: 6px;
   border-radius: 100%;
   border: 1px solid #555555;
   display: inline-block; 
   transition: background-color 0.3s ease;

}  

.listitem>div{
    display: flex;
    gap: 20px;
    padding-left: 20px;
}
.listitem{
    height: 42px;
    display: flex;
    width: 100%;
    justify-content:start;
    align-items:center !important;
    gap:8px;
        font: normal normal normal 13px/19px Open Sans !important;
    letter-spacing: 0px !important;
    color: #555555 !important;
    align-items: end;
transition: background-color 0.3s ease; 

}

.listitem:hover{
    background: #F0F0F0 0% 0% no-repeat padding-box;
    border-radius: 5px;
    cursor: pointer;
    border-radius: 6px;

    

    
}

.listasidebar{
    margin-left: 10px !important;
    margin-right: 10px;
  
}

.navsiguiente{
    padding-bottom: 10px;
}

.imagenlogoavatar{
    width: 42px;
    height: 41px;
    border-radius: 100%;
}