.bordertipopro{
   border: 1px solid var(--gris-bordes) !important;
    border-radius: 20px;
    padding: 10px 10px !important;
max-width: 208px;
   
}
.paddingleftformpro{
    padding-left: 12px !important;
}
.inputconcondigoba{
  padding-top: 12px !important;
}
.contproduct{
    .modal-content{
    max-width: 750px;
    }
}

.checkboxpro{
    width: 18px;
  height: 18px;
    border-radius: 20px !important;
    appearance: none !important; /* Quita estilo del navegador */
  -webkit-appearance: none;
  -moz-appearance: none;
    cursor: pointer;
  display: inline-block;
  position: relative;
   background: white;       /* importante */
  border: 2px solid #333;  /* IMPORTANTE */

}


.checkboxpro:checked {
  background-color:blue !important;
}

/* Dibujar el check */
.checkboxpro:checked::after {
  content: "";
  position: absolute;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 2px 2px 0;
  top: 1px;
  left: 5px;
  transform: rotate(45deg);
}

.selectproct{
   
}

.selectproct select{
    width: 100%;
}

.selctproduct{
        background: var(--blanco) 0% 0% no-repeat padding-box !important;
    border: 1px solid var(--gris-bordes) !important;
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    border: 1px solid #D3D4D4 !important;
    border-radius: 12px !important;
    opacity: 1 !important;
    outline: none;
    padding: 10px 8px;
}
.inputproduct{
     border-radius: 12px !important;
    opacity: 1 !important;
    outline: none;
    padding: 8px 8px !important;
}


.titulospro{
    font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-normal);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: var(--gris-pazzioli);
    margin-left: 12px;
}

.containertipospro{
    column-gap: 0px !important;
}

.tiposerviciopro{
       font-family: var(--unnamed-font-family-open-sans);
    font-style: var(--unnamed-font-style-normal);
    font-weight: var(--unnamed-font-weight-bold);
    font-size: var(--unnamed-font-size-14);
    line-height: var(--unnamed-line-spacing-17);
    letter-spacing: var(--unnamed-character-spacing-0);
    color: #555;
}

.inputprocttex{
  display: flex;
  flex-direction: column;

}

.inputcodigosbarra{
    position: relative;
}

.botoncodigobarra{
  width: fit-content;
    position: absolute;
    right: 45px;
    top:28px;
    border: none;
   
/* UI Properties */
background: var(--blanco) 0% 0% no-repeat padding-box;

opacity: 1;
border-radius: 7px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
text-align: left;
font: normal normal normal 14px/19px Open Sans;
letter-spacing: 0px;
color:#5AADDC;
opacity: 1;
}


.ojocodigobarra{
    right: 15px;
    top:25px;
}

.botoncodigobarra:active{
   
    color:#555;
    cursor: pointer;

}



.tablalistaprecio{
  max-width: 680px;
  overflow: auto;
}

.displaynonelist{
  display:none;
}

.icondown{
    position: absolute !important;
   bottom:  0 !important;
   width: fit-content !important;
   right: 0 !important;

}

/*estilo tabla terceros  */

.tablaproducts{
  box-shadow:    0px 3px 6px 3px rgba(0, 0, 0, 0.0509803922) !important;
}

.tablaproducts{
    
     min-width: 750px;
     margin: 0 !important;
      
}
.tablaproducts th:last-child,
.tablaproducts td:last-child {width: 90px;text-align: left !important;
 position: sticky;
 right: 0;
 border-left: 1px solid #cccccc;
 background: white; /* Asegura que el contenido no se superponga */
  z-index: 2; /* Eleva la columna por encima de las demás */ box-sizing: border-box !important;
   
}

.tablaproducts th {
padding-left: 12px !important;
padding: 12px 15px 12px 15px !important;
 }

.tablaproducts th:last-child {
padding-left: 12px !important;
padding: 12px 15px 12px 21px !important;
 }
.tablaproducts th:last-child::before,
.tablaproducts td:last-child::before {
  
 position: absolute;
top: 0;
 bottom: 0;
 left: -1px;  /* ajusta según ancho del borde */
 width: 1px;  background-color: #cccccc;
 z-index: 3;   /* encima del contenido de la celda */}


.tablaproducts td{
      padding-top: 4px !important;
  padding-bottom: 4px !important;
  /* Alinea verticalmente el contenido de la celda al centro,
en lugar de estar pegado arriba (top) o abajo (bottom).
Esto es útil cuando en una misma fila tienes texto y elementos como íconos o botones. */
  vertical-align: middle !important;
  /* Ese valor solo reduce el espacio vertical entre líneas, esto genera una especie de centrado ya que proporciona
  espacio entre la parte superior y inferior del texto*/
  line-height: 1.2 !important;
}

.tablaproducts td {
padding: 0px 15px 0px 15px !important;
 }
.tablaproducts td:last-child {
  padding: 0px 15px 0px 15px !important;

}
.inputitem{
border-radius: 12px !important;
    opacity: 1 !important;
    outline: none;
    padding: 12px 0px !important;
    border: none !important;
    width:100px;
}
.iteminput1{
  border-radius: 12px !important;
    opacity: 1 !important;
    outline: none;
    padding: 12px 0px !important;
    border: none !important;
    display:inline-block;
    width: 100%;
}

 .tablaproducts th,
.tablaproducts td {
  white-space: nowrap !important; /* ✅ evita que el texto expanda filas */
  
 
}
.tablaperzonalinalida1 th{
width: 50% !important;
}



.tablaproducts td {
  white-space: nowrap !important; /* ✅ evita que el texto expanda filas */
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-open-sans) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal normal 13px/17px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
 
}






@media (max-width:767px) {
  .paddingleftformpro{
    padding-left: 0px !important;
  }
}


.botonagregarvariante{
  background: #F3F4F7 0% 0% no-repeat padding-box;
border-radius: 10px;
opacity: 1;
border: none;
display: flex;
align-items: center;
column-gap: 8px;
max-width: 200px;
padding: 5px 5px;

font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
text-align: left;
font: normal normal bold 14px/17px Open Sans;
letter-spacing: 0px;
color: #555555;
opacity: 1;
}


.variantescontainer{
  padding: 5px 20px !important;
}

.classitemitemproduct{
  display: flex;
    justify-content: center;
    align-items: center;
    gap: 1px;
    display: flex;
    max-height: 30px;
  
    align-items: center;
    gap: 15px;
    padding: 0.0625rem 0.5rem;
    background-color: #e7eaee;
    border: 1px #dbdfe6;
    border-radius: 0.25rem !important;
}
    