.containerempresa{
   
    width: 780px;
    max-width: 780px;
}
.containerempresasucur{
    width: 100%;
    
}




.tapitemsempresa[aria-selected="true"]{
   background: var(--naranja-pazzioli) 0% 0% no-repeat padding-box !important;
   
   color:#fff !important;
}
.conittemtapsempresa{
    width: fit-content;
}

thead >tr>th{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-open-sans) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-textos) !important;
text-align: left !important;
}

tbody >tr >td{

text-align: left !important;
font: normal normal normal 12px/17px Open Sans  !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
}

thead > tr >th{

    padding:20px 8px 10px 8px !important;
}
tbody>tr>th{
    padding: 10px 8px 10px 8px !important;
}

.titleimpuestos{
    padding-top: 25px !important;
    padding-bottom: 20px !important;
}
/*.tapitemsempresa:nth-child(1){
  margin-right: 12px;
    padding:11px 14px 11px 13px !important;
}



.tapitemsempresa:nth-child(2){
 margin-right: 12px;
    padding:11px 19px 11px 19px !important;
}


.tapitemsempresa:nth-child(3){

    padding:11px 14px 11px 14px !important;
}

@media(max-width:431px){
    
 

}*/



.tapitemsempresa{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-pazzioli) !important;
text-align: left !important;
font: normal normal normal 14px/19px Open Sans !important;
letter-spacing: 0px !important;
color: #908E92 !important;
opacity: 1;
}

.containerimgempresa{
    margin-top: 20%;
    margin-bottom: 50px;
}

.containerimgempresasucu{
      margin-top: 10%;
    margin-bottom: 50px;
}
.titlecamposempresa{
    margin-left: 1rem !important;
}

.botoncontinuar{
    background: var(--azul-pazzioli) 0% 0% no-repeat padding-box;
   border: none;
   border-radius: 6px;
   padding: 10px 32px 12px 33px;
   box-sizing: border-box;
   opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blanco);
text-align: left;
display: inline-block;
max-width: 130px !important;
}
.botoncontinuarguardar{
     background: #97BD13 0% 0% no-repeat padding-box;
   border: none;
   border-radius: 6px;
   padding: 10px 32px 12px 33px;
   box-sizing: border-box;
   opacity: 1;
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-14)/var(--unnamed-line-spacing-19) var(--unnamed-font-family-open-sans);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blanco);
text-align: left;
display: inline-block;
max-width: 130px !important;   
}

.padingbotoncontinuar{
    display: inline-block;
    padding: 4px;
}

.containercontinuar{
    z-index:10;
    padding-right:50px;
}

.inputarchivo{
    margin-bottom: 50px;
}

 .coninputarchivo > label{
    padding-left: 11px;
 }

 .checkbox{
     
 
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
border: 1px solid #D3D4D4 !important;
border-radius: 5px !important;
opacity:1  !important;
width: 17px !important;
height: 17px !important;
margin: 0 !important;
padding:0 !important
 }

 .margeniputempresa{
    margin-bottom: 12px !important;
 }
 .paddingempresa{
    padding-right:12px !important; 
    padding-left:12px !important; 
 }

 .tabla-wrapper {
  
  /* opcional: control vertical si la tabla ocupa mucho alto */
 padding: 0 !important;
 overflow-x: auto;
  max-width: 100% !important;
  height: fit-content;
  background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 3px 6px #0000000D !important;
border-radius: 8px !important;
opacity: 1 !important;

 border-collapse: separate !important;
  /* si necesitas limitar altura */
  /* max-height: 400px; */
}
.tablasucursal{
    
     min-width: 1200px;
     margin: 0 !important;
      
}
.tablasucursal th:last-child,
.tablasucursal td:last-child {
width: 90px;
text-align: center !important;
  position: sticky;
  right: 0;
  border-left: 1px solid #cccccc;
  background: white; /* Asegura que el contenido no se superponga */
   z-index: 2; /* Eleva la columna por encima de las demás */
   box-sizing: border-box !important;
}
.tablasucursal th:last-child{
    padding: 10px 8px  10px 15px !important;
}

.tablasucursal th:last-child::before,
.tablasucursal td:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;  /* ajusta según ancho del borde */
  width: 1px;
  background-color: #cccccc;
  z-index: 3;   /* encima del contenido de la celda */
}

.botonagregarsucursal{
    color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal normal 14px/19px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;

border: 1px solid #000 !important;
padding-right: 37px !important;
    padding-left:38px !important ;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
}

.containersucursalboton{
    display: inline-block;
    padding: 4px;
} 

.modal{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;

 
}

.modal> div{
        margin: 0 !important;
        min-width: 400px !important;
        max-width: 804px !important;
        max-height: 100% !important;
        width: 804px !important;
    }

.modal> div >div{
        
        max-height: 100% !important;
        height: 100% !important;
    }



.botonsucursal{
    padding-right: 37px !important;
    padding-left:38px !important ;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
  
background: var(--gris-claro) 0% 0% no-repeat padding-box !important;
background: #F3F4F7 0% 0% no-repeat padding-box !important;
opacity: 1 !important;
border: none !important;
width: 130px;
text-align: center !important;

letter-spacing: var(--unnamed-character-spacing-0) ;
color: var(--gris-textos);
text-align: left;
font: normal normal normal 14px/19px Open Sans;
letter-spacing: 0px;
color: #555555;
opacity: 1;
    

}



.botonguardarsucursal{
      padding-right: 37px !important;
    padding-left:38px !important ;
    padding-top: 10px !important;
    padding-bottom: 12px !important;
  
border: none;


background: var(--verde-pazzioli) 0% 0% no-repeat padding-box;
background: #97BD13 0% 0% no-repeat padding-box;
border-radius: 6px;
opacity: 1;

letter-spacing: var(--unnamed-character-spacing-0);
color: var(--blanco);
text-align: left;
font: normal normal normal 14px/19px Open Sans;
letter-spacing: 0px;
color: #FFFFFF;
opacity: 1;
}

.modal-header{
    background: var(--gris-claro) 0% 0% no-repeat padding-box !important;
border: 1px solid var(--gris-bordes) !important;
background: #F3F4F7 0% 0% no-repeat padding-box !important;
border: 1px solid #D3D4D4 !important;
opacity: 1 !important;
}


.botonretroceder{
    border: none;
   border-radius: 6px;
   padding: 10px 32px 12px 33px;
   max-width: 130px;
   opacity: 1;
   background: var(--gris-claro) 0% 0% no-repeat padding-box;
background: #F3F4F7 0% 0% no-repeat padding-box;
opacity: 1;
margin-right: 12px;

letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
text-align: left;
font: normal normal normal 14px/19px Open Sans;
letter-spacing: 0px;
color: #555555;
opacity: 1;
display: inline-block;
max-width: 130px !important;
width: 130px !important;
text-align: center !important;
}

.margingleftcol{
    margin-left: 0px !important;
    padding-left: 0px !important;
}

@media (max-width: 768px) {
  .margingleftcol{
   
    padding-left: 40px !important;
    padding-right: 40px !important;
}
.paddingempresa{
    padding-left: 40px !important;
    padding-right: 40px !important;
}

.paddingtitleempresa{
    padding-left: 30px !important;
}

.paddingtitleempresabutton{
    padding-left: 30px !important;
}
.paddingtitleempresalogo{
    padding-left: 35px !important;
}
.paddingtableimpuesto{
    padding-left: 20px !important;
    padding-right: 20px !important;
}

.paddingempresamodal{
    padding-left: 20px !important;
    padding-right: 20px !important;
}}

.fottersucursal{
    background: var(--blanco) 0% 0% no-repeat padding-box !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px -3px 5px #00000029 !important;
border-radius: 0px 0px 7px 7px !important;
opacity: 1;
}


.inputdatosempresa:disabled {
  background-color: #D4D4D8 !important;
  color: #555; /* opcional: texto más tenue */
}

.imputcompletgeneral{
    position: relative;
    
}

.lista-opcionesaut{
    position: absolute;
    top: -2;
    z-index: 6;
    background: #fff;
    border-radius: 1px solid;
    padding: 0;
    max-height:300px ;
    overflow-y: auto;
    min-width:calc(100% + 10px) !important;
    border-radius: 2px;
   border: 1px solid #888;

}

.lista-opcionesaut li{
    list-style: none;   /* Quita la viñeta */
  margin: 0;          /* Elimina el margen */
  padding: 0; 
  padding: 0px 0px 10px 0px;
 padding-left: 8px;
 text-align: left !important;
    font: normal normal normal 14px / 19px Open Sans !important;
    letter-spacing: 0px !important;
}

.hoverchrome li:hover{
background:rgba(78, 78, 85, 0.7) !important;
color:#fff;
cursor: default;
}

.inputcomple{
    z-index: 1;
position: relative;
}
