.bg-login-image {
  background-image: url('/imgs/pazzioli.png');
  background-size:900px;
  background-position:calc(100% + 270px) calc(100% + 600px);
  background-repeat: no-repeat;
 
 
  
  
}
.logincontainer{
  max-width: 595px !important;
}
.overflow-hiddenlogin{
    overflow:  hidden !important;
    position: relative;
}





.dimensiones{

 
  margin-bottom: 55px;
}

.Success{
    background-color: var(--bs-btn-bg);
}

.bnt:hover{
    background-color:#145a32  !important;
   
}

.botonsubmit-login{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.login-parent{
    justify-content: center;
}

.imagenlogin{
    display: flex;
    justify-content: center;
    align-items: center;
}

.imagencavdiv{
margin-top: 122px !important;

}

.imagencav{
  max-height: 50px !important;
  max-width: 50px !important;
}

