.containerusuario {
     width: 100%;
  
}

.containerimgusuario{
        margin-top: 10%;
    margin-bottom: 50px;
}
    .usuariomodal {
        flex-wrap: wrap;
    }
@media (max-width: 768px) {
    .usuariomodal{
        flex-wrap: wrap;
    }
    
}
.thacciones{
    text-align: left !important;
}

.tableusuario{
  box-shadow:    0px 3px 6px 3px rgba(0, 0, 0, 0.0509803922) !important;
}

.modal-custom-size {
  max-width: 500px;   /* ancho fijo */
  height: 200px;      /* alto fijo */
  margin: auto;       /* centra horizontalmente */
  display: flex;
  align-items: center; /* centra verticalmente */
}




.modalformper>div>.modal-content{
    max-height: 500px !important;
     box-shadow: 5px -10px 5px 0.5px rgb(0, 0, 0, 0.1);
     max-width: 500px  !important;
}
.modalformper>.modal-dialog{
    max-width: 100% !important;
    position: fixed;
    height: 100vh;
    width: 100vw !important;
    justify-content: center;
  background:rgba(0,0,0,0.1);
} 



.continnerper{
      padding: 0 !important;
    overflow-x: auto;
    max-width: 100% !important;
    height: fit-content;
    
    
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #0000000D;
border-radius: 7px;
opacity: 1;

    border-collapse: separate !important;
}

.tableusuarioper td{
      padding-top: 4px !important;
  padding-bottom: 4px !important;
 
  /* Alinea verticalmente el contenido de la celda al centro,
en lugar de estar pegado arriba (top) o abajo (bottom).
Esto es útil cuando en una misma fila tienes texto y elementos como íconos o botones. */
  vertical-align: middle !important;
  /* Ese valor solo reduce el espacio vertical entre líneas, esto genera una especie de centrado ya que proporciona
  espacio entre la parte superior y inferior del texto*/
  line-height: 1.2 !important;
}
.tableusuarioper{
    margin-bottom: 0 !important;
}


.tabla-wrapper{
  background: var(--blanco) 0% 0% no-repeat padding-box;
background: #FFFFFF 0% 0% no-repeat padding-box;
box-shadow: 0px 3px 6px #0000000D;
border-radius: 7px;
opacity: 1;
max-height: 200px !important;
}
.tableusuarioper th:last-child,
.tableusuarioper td:last-child {
width: 90px;
text-align: left !important;
  position: sticky;
  right: 0;
  border-left: 1px solid #cccccc;
  background: white; /* Asegura que el contenido no se superponga */
   z-index: 2; /* Eleva la columna por encima de las demás */
   box-sizing: border-box !important;
}



.tableusuarioper td{
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-open-sans) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal normal 13px/17px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
}



.tableusuarioper{
     border-collapse: collapse !important;
}

.tableusuarioper td{
  padding-left: 12px !important;

}
.tableusuarioper th{
  padding-left: 12px !important;
}

.tableusuarioper th:last-child
.tableusuarioper td:last-child{
  padding-left: 12px !important;
}



.tableusuarioper th:last-child::before,
.tableusuarioper td:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;  /* ajusta según ancho del borde */
  width: 1px;
  background-color: #cccccc;
  z-index: 3;   /* encima del contenido de la celda */
}
.modalusuper>div>.modal-content{
    max-height: 500px !important;
}

.botonper{
        background: rgb(33, 188, 255);
    color: rgb(255, 255, 255) !important;
    border: none !important;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 3px 10px;
}

.usuarioperfoo{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
    box-shadow: 0px -3px 5px rgba(0, 0, 0, 0.1607843137) !important;
    border-radius: 0px 0px 7px 7px !important;
    opacity: 1;
}

/*.tablausuario th,
.tableusuarioper th{
    background: #F5F5F5 0% 0% no-repeat padding-box !important;
    box-shadow: inset 0px -1px 0px #E0E0E0 !important;
    border-radius: 0px !important;
    opacity: 1 !important;
}*/


.tableusuarioper {
  width: 100% !important;
  table-layout: fixed !important;  /* Esto hace que los widths se respeten */
}

.tableusuarioper {
  width: 100%;
}




.tableusuarioper th:last-child
{
  padding-left: 20px !important;
}

/* estilos tabla usuario */
.tablausuario{
    
     border-collapse: collapse;
  width: 100%;
  table-layout: auto; /* ✅ permite ajustar el ancho dinámicamente */
 min-width: 600px; /* opcional, según tu diseño */
     margin: 0 !important;
      
}
.tablausuario th:last-child,
.tablausuario td:last-child {
width:30px;
text-align: left !important;
  position: sticky;
  right: 0;
  border-left: 1px solid #cccccc;
  background: white; /* Asegura que el contenido no se superponga */
   z-index: 2; /* Eleva la columna por encima de las demás */
   box-sizing: border-box !important;
}

.tablausuario th:last-child{
    padding: 5px 12px  5px 12px !important;
}

.tablausuario th:last-child{
    padding: 5px 12px  5px 12px !important;
}

.tablausuario th:last-child::before,
.tablausuario td:last-child::before {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: -1px;  /* ajusta según ancho del borde */
  width: 1px;
  background-color: #cccccc;
  z-index: 3;   /* encima del contenido de la celda */
}


.tablausuario th{
   padding-left: 15px !important;
}
.tablausuario td{
      padding-top: 4px !important;
  padding-bottom: 4px !important;
   padding-left: 15px !important;
  /* Alinea verticalmente el contenido de la celda al centro,
en lugar de estar pegado arriba (top) o abajo (bottom).
Esto es útil cuando en una misma fila tienes texto y elementos como íconos o botones. */
  vertical-align: middle !important;
  /* Ese valor solo reduce el espacio vertical entre líneas, esto genera una especie de centrado ya que proporciona
  espacio entre la parte superior y inferior del texto*/
  line-height: 1.2 !important;
    font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-normal) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-open-sans) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal normal 15px/17px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
}
.tablausuario th{
  font: var(--unnamed-font-style-normal) normal var(--unnamed-font-weight-bold) var(--unnamed-font-size-12)/var(--unnamed-line-spacing-17) var(--unnamed-font-family-open-sans) !important;
letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal bold 15px/17px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
}





.tablausuario th,
.tablausuario td {

    padding: 4px 8px !important;  /* menos padding */
  white-space: nowrap !important;
  text-align: left;
  vertical-align: middle;
}


.container-tabla {
  overflow-x: auto; /* ✅ scroll si no cabe */
}


/* Columna acciones — fija */
.classitemaccionboton{
  width:80px
}



