
/*estilos modulo auth*/
:root {

/* Colors: */
--blanco: #FFFFFF;
--gris-claro: #F3F4F7;
--gris-textos: #555555;
--gris-bordes: #D3D4D4;
--gris-pazzioli: #908E92;
--azul-pazzioli: #5AADDC;
--naranja-pazzioli: #F09700;
--verde-pazzioli: #97BD13;
}


