@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/*estilos modulo auth*/
*{
    z-index: 0 !important;
    
}
:root {

/* Colors: */
--rojo: #E11111;
--guias: #3623E5;
--blanco: #FFFFFF;
--gris-claro: #F3F4F7;
--gris-textos: #555555;
--gris-bordes: #D3D4D4;
--gris-pazzioli: #908E92;
--azul-pazzioli: #5AADDC;
--naranja-pazzioli: #F09700;
--verde-pazzioli: #97BD13;

/* Font/text values */
--unnamed-font-family-open-sans: Open Sans;
--unnamed-font-style-normal: normal;
--unnamed-font-weight-300: 300px;
--unnamed-font-weight-600: 600px;
--unnamed-font-weight-normal: normal;
--unnamed-font-weight-bold: bold;
--unnamed-font-size-12: 12px;
--unnamed-font-size-14: 14px;
--unnamed-font-size-16: 16px;
--unnamed-font-size-25: 25px;
--unnamed-font-size-30: 30px;
--unnamed-character-spacing-0: 0px;
--unnamed-line-spacing-17: 17px;
--unnamed-line-spacing-19: 19px;
--unnamed-line-spacing-22: 22px;
--unnamed-line-spacing-34: 34px;
--unnamed-line-spacing-41: 41px;
--unnamed-text-transform-uppercase: uppercase;
}
p{
    margin: 0 !important;
    padding: 0 !important;
}

.fonttitulos{
    color: var(--gris-textos);
text-align: left;
font: normal normal bold 16px/22px Open Sans;
letter-spacing: 0px;
color: #555555;
opacity: 1;
}

.fondletraspanlarge{
    color: var(--gris-textos);
text-align: left;
font: normal normal 300 30px/41px Open Sans;
letter-spacing: 0px;
color: #555555;
opacity: 1;
}
.parrafo {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
}

.tituloopaco {

text-align: left;
font: normal normal 300 30px/41px Open Sans;
letter-spacing: 0px;
color: #555555;
text-transform: uppercase;
opacity: 1;

}
.h1 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-300);
font-size: var(--unnamed-font-size-30);
line-height: var(--unnamed-line-spacing-41);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
text-transform: var(--unnamed-text-transform-uppercase);
}
.h2 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-25);
line-height: var(--unnamed-line-spacing-34);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
}
.h3 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-600);
font-size: var(--unnamed-font-size-16);
line-height: var(--unnamed-line-spacing-22);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
}
.h4 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-pazzioli);
}
.h5 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-bold);
font-size: var(--unnamed-font-size-14);
line-height: var(--unnamed-line-spacing-19);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-textos);
}
.h6 {
font-family: var(--unnamed-font-family-open-sans);
font-style: var(--unnamed-font-style-normal);
font-weight: var(--unnamed-font-weight-normal);
font-size: var(--unnamed-font-size-12);
line-height: var(--unnamed-line-spacing-17);
letter-spacing: var(--unnamed-character-spacing-0);
color: var(--gris-pazzioli);
}
.fontgrisopaco{
    letter-spacing: var(--unnamed-character-spacing-0) !important;
color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal 600 16px/22px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
}

.letrapazzioli{
    font-family: "Open Sans", sans-serif !important;
}

.bordercard{
   background: var(--blanco) 0% 0% no-repeat padding-box  !important;
border: 1px solid var(--gris-bordes) !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
border: 1px solid #D3D4D4 !important;
border-radius: 8px !important;
opacity: 1 !important;
}


.fonttitle{

color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal bold 25px/34px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1;
}

.fontletre{

color: var(--gris-textos)  !important;
text-align: left !important;
font: normal normal normal 14px/19px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1;
}

input::-webkit-input-placeholder{
    color: var(--gris-textos) !important;
text-align: left !important;
font: normal normal normal 14px/19px Open Sans !important;
letter-spacing: 0px !important;
color: #555555 !important;
opacity: 1 !important;
}




input {
    background: var(--blanco) 0% 0% no-repeat padding-box  !important;
border: 1px solid var(--gris-bordes) !important;
background: #FFFFFF 0% 0% no-repeat padding-box !important;
border: 1px solid #D3D4D4 !important;
border-radius: 0px 6px 6px 0px !important;
opacity: 1 !important; 
}

.botonloginsucess{
    background: var(--verde-pazzioli) 0% 0% no-repeat padding-box !important;
background: #97BD13 0% 0% no-repeat padding-box !important;
border-radius: 6px !important;
opacity: 1 !important;
padding:10px 41px 12px 35px !important;
}

.botonlogindisabled{
  
background: #D3D4D4 0% 0% no-repeat padding-box !important;
border-radius: 6px !important;
opacity: 1 !important;
padding:10px 41px 12px 35px !important;
}

.spanlogin{
    color: var(--blanco) !important;
text-align: left !important;
font: normal normal normal 14px/19px Open Sans !important;
letter-spacing: 0px !important;
color: #FFFFFF !important;
opacity: 1;

}

.inputselect{
    padding:22px 16px  5px 16px !important;
   border-radius: 6px !important;
}

.inputdatosempresa{
    padding:22px 16px  5px 13px !important;
   border-radius: 6px !important;
   
}

.placeholderarchivo{
    padding: 9px 40px 10px  150px !important;
    position: relative;
      border-radius: 6px !important;
}

input[type="file"].placeholderarchivo::-webkit-file-upload-button{
    padding:15px !important ;
    position: absolute !important;
    top:0;
    left: 0;
    text-align: center;
    justify-content: center;
    width:150px;
    
  
    
  
 }

 .tabla{
    background: #FFFFFF 0% 0% no-repeat padding-box !important;
box-shadow: 0px 3px 6px #0000000D !important;
border-radius: 7px !important;
opacity: 1 !important;
 border-collapse: separate !important;

 }
 


.col-12{
    padding: 0px !important;
}

.navpazzioli{
    background: var(--blanco) 0% 0% no-repeat padding-box !important;

}

.navpazzioli   .navizquierdo {
    list-style: none !important;
    display: inline-block !important;
padding-top: 5px !important;
    font: normal normal normal 14px/19px Open Sans !important;
    letter-spacing: 0px !important;
    color: #555555 !important;
    opacity: 1 !important;
    width: 22px;
    height: 22px;
        position: absolute;
    left: 80px;
}

/*0 = no hay desplazamiento horizontal.

6px y 12px = desplaza hacia abajo.

0 en el blur-radius = sin difuminado → es un rectángulo sólido.

black = color.

Así que el navegador dibuja dos rectángulos negros del mismo tamaño del elemento, pero “copiados” en las posiciones Y=+6px y Y=+12px.
El efecto: parecen líneas apiladas debajo del elemento, como si fueran varias capas o un marco en escalera.*/

.navpazzioli  .navizquierdo::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background: #555555;
  box-shadow: 0 6px 0 #555555, 0 12px 0 #555555; /* crea 3 líneas */
  margin-bottom: 5px;
}

.navpazzioli ul{
      margin: 0;
    padding-left:0;
    display: flex;
    height: 100%;
    justify-content: start;
    align-items: center;
    height: 64px;
    bottom: -50px;
    
}

.navizquierodsidebar{
  list-style: none !important;
  display: inline-block !important;
  padding-top: 5px !important;
  font: normal normal normal 14px/19px Open Sans !important;
  letter-spacing: 0px !important;
  color: #555555 !important;
  opacity: 1 !important;
overflow: auto;
  width: 63px;         /* ancho fijo de la barra */
  height: 100vh;       /* 👈 alto = 100% del viewport */
  position: fixed;     /* se queda fijo aunque hagas scroll */
  top: 0;              /* empieza desde arriba */
  left: 0;             /* pegado a la izquierda */
  background: #fff; /* ponle un color de fondo para ver la barra */
box-shadow: 3px 0px 20px #0000001A;
z-index: 10 !important;
overflow-x: hidden;
}


.listamanenusidebar{
    width: 100% !important;
    height: 100% !important;
    display: flex !important;
    flex-direction: column !important;
        
}

.listamanenusidebar li{
    list-style: none !important;
}

.lilogomenu{
    position: relative;


}

.logonavbar{
    position: absolute;
    
    left: -25px;
    
}



.lineaseparadora {
  position: relative;
  height: 1px;           /* fuerza un alto mínimo */
  width: 100%;
}

.lineaseparadora::before {
  content: '';
  display: block;
  width: 100%;
  height: 1px;
  background: #D3D4D4;
   /* separación arriba/abajo */
}






.lineaseparadora{
    bottom: -50px;
}
.navsiguiente{
    bottom: -60px;
    position: relative;
    display: flex
;
    flex-direction: column;
    justify-content: end;
    gap: 28px;
        margin: 20px 0 0 0;
    
}


.navsiguienteresponsive{
    display: none;
  list-style: none !important;
  display: inline-block !important;
  padding-top: 5px !important;
  font: normal normal normal 14px/19px Open Sans !important;
  letter-spacing: 0px !important;
  color: #555555 !important;
  opacity: 1 !important;
overflow: auto;
  width: 255px;         /* ancho fijo de la barra */
  height: 100vh;       /* 👈 alto = 100% del viewport */
  position: fixed;     /* se queda fijo aunque hagas scroll */
  top: 0;              /* empieza desde arriba */
  left: 0;             /* pegado a la izquierda */
  background: #fff; /* ponle un color de fondo para ver la barra */
box-shadow: 3px 0px 20px #0000001A;
z-index: 10 !important;

}


.navsiguienteresponsive > ul  .lilogomenu .logonavbar{
position: relative;
left: 8px;
}

.navsiguienteresponsive   .lilogomenu{
    width: 100%;
}

.navsiguienteresponsive > ul .lineaseparadora{
    position: relative;
  bottom: -10px;
}

.navsiguienteresponsive >  ul .navsiguiente{
    position: relative;
    bottom: -20px;
    display: flex;
    width: 100%;
    padding-left: 23px;
    
}

.navizquierodsidebarlarge{
    list-style: none !important;
  display: inline-block !important;
  padding-top: 5px !important;
  font: normal normal normal 14px/19px Open Sans !important;
  letter-spacing: 0px !important;
  color: #555555 !important;
  opacity: 1 !important;
overflow: auto;
  width: 245px;         /* ancho fijo de la barra */
  height: 100vh;       /* 👈 alto = 100% del viewport */
  position: fixed;     /* se queda fijo aunque hagas scroll */
  top: 0;              /* empieza desde arriba */
  left: 0;             /* pegado a la izquierda */
  background: #fff; /* ponle un color de fondo para ver la barra */
box-shadow: 3px 0px 20px #0000001A;
z-index: 10 !important;

}

.cerrarmenuicon{
    padding: 10px;
   
}
.navizquierodsidebarlarge > ul  .lilogomenu .logonavbar{
position: relative;
left: 8px;
}

.navizquierodsidebarlarge > ul .lineaseparadora{
    position: relative;
  bottom: -10px;
}

.navizquierodsidebarlarge >  ul .navsiguiente{
    position: relative;
    bottom: -20px;
    display: flex;
    width: 100%;
    padding-left: 23px;
    
}

.iconospedidossidebar{
    display: flex;
   align-items: center;
   gap:12px;
}





.sidebardisplay{
 display: none;
}

.navizquierdolarge{
     
        list-style: none !important;
    display: inline-block !important;
padding-top: 5px !important;
    font: normal normal normal 14px/19px Open Sans !important;
    letter-spacing: 0px !important;
    color: #555555 !important;
    opacity: 1 !important;
    width: 22px;
    height: 22px;
        position: absolute;
     left: 255px !important;
}

.navizquierdolarge::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background: #555555;
  box-shadow: 0 6px 0 #555555, 0 12px 0 #555555; /* crea 3 líneas */
  margin-bottom: 5px;
}

.navizquierdores{

}

.navpazzioli{
       position: fixed;
    width: 100%; 
    z-index:12 !important;
    box-shadow: 0px 3px 10px #0000001A;
}


.navpazzioli   .navizquierdores {
    list-style: none !important;
    display: inline-block !important;
padding-top: 5px !important;
    font: normal normal normal 14px/19px Open Sans !important;
    letter-spacing: 0px !important;
    color: #555555 !important;
    opacity: 1 !important;
    width: 22px;
    height: 22px;
        position: absolute;
    left:20px;
}

.navpazzioli  .navizquierdores::before {
  content: '';
  display: block;
  width: 20px;
  height: 3px;
  background: #555555;
  box-shadow: 0 6px 0 #555555, 0 12px 0 #555555; /* crea 3 líneas */
  margin-bottom: 5px;
}
